.gallery {
    padding: 0;
    max-width: 1184px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1279px) {
    .gallery {
        max-width: 928px;
    }
}

@media (max-width: 1023px) {
    .gallery {
        max-width: 720px;
    }
}

@media (max-width: 767px) {
    .gallery {
        max-width: 288px;
    }
}