.places {
    margin: 0 auto;
    padding: 0;
    max-width: 984px;
    width: 100%;
}

@media (max-width: 1024px) {
    .places {
        max-width: 928px;
    }
}

@media (max-width: 930px) {
    .places {
        max-width: 720px;
    }
}
