.cover__effect {
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.3);
}

.cover__effect:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1184px) {
    .cover__effect {
        min-height: 63vw;
    }
}

@media (max-width: 1024px) {
    .cover__effect {
        width: 1024px;
    }
}

@media (max-width: 1023px) {
    .cover__effect {
        width: 100%;
    }
}
