.place__text-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

@media (max-width: 767px) {
    .place__text-wrapper {
        max-width: 288px;
        width: 100%;
        margin: 0 auto;
    }
}