.place__text {
    margin: 0 0 26px;
    padding: 0;
    max-width: 484px;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    line-height: 163%;
    font-weight: 400;
}

@media (max-width: 1024px) {
    .place__text {
        max-width: 456px;
    }
}

@media (max-width: 930px) {
    .place__text {
        max-width: 352px;
        font-size: 16px;
    }
}

@media (max-width: 720px) {
    .place__text {
        max-width: 288px;
    }
}