.lead__title {
    margin: 56px 0 0;
    padding: 0;
    color: #ffffff;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    max-width: 720px;
    text-align: center;
    width: 100%;
}

@media (max-width: 1279px) {
    .lead__title {
        margin: 48px 0 0;
    }
}

@media (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}
