.lead__title {
    margin: 56px 0 0;
    padding: 0;
    color: #ffffff;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    width: 720px;
    text-align: center;
}

@media (max-width: 1024px) {
    .lead__title {
        margin: 48px 0 0;
    }
}

@media (max-width: 730px) {
    .lead__title {
        font-size: 64px;
        line-height: 50px;
        width: 560px;
    }
}

@media (max-width: 570px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        width: 288px;
    }
}