.places__list {
    margin: 82px 0 90px;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: auto;
    gap: 80px;
}

@media (max-width: 1023px) {
    .places__list {
        margin: 88px 0 90px;
        gap: 73px;
    }
}

@media (max-width: 767px) {
    .places__list {
        margin: 64px 0 66px;
        gap: 50px;
    }
}