.lead__image {
    margin: 64px 0 0;
    padding: 0;
    width: 984px;
    height: 615px;
}

@media (max-width: 1024px) {
    .lead__image {
        margin: 56px 0 0;
        width: 928px;
        height: 580px;
    }
}

@media (max-width: 930px) {
    .lead__image {
        width: 768px;
        height: 480px;
    }
}

@media (max-width: 767px) {
    .lead__image {
        width: calc(100% - 2px);
        height: auto;
    }
}

@media (max-width: 320px) {
    .lead__image {
        margin: 40px 0 0;
        width: 320px;
        height: 200px;
    }
}