.lead__subtitle {
    margin: 35px 0 0;
    padding: 0;
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    text-align: center;
    width: 640px;
}

@media (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        width: 288px;
        margin: 16px 0 0;
    }
}