.lead__image-caption {
    margin: 8px 0 0;
    padding: 0;
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    align-self: flex-start;
    box-sizing: border-box;
}

@media (max-width: 1023px) {
    .lead__image-caption {
        margin: 0 0 0 24px;
    }
}

@media (max-width: 767px) {
    .lead__image-caption {
        margin: 0 0 0 19px;
    }
}