.place__link-wrapper {
    margin: 0;
    padding: 0;
    align-self: end;
    display: grid;
    gap: 12px;
}

@media (max-width: 320px) {
    .place__link-wrapper {
        width: 288px;
        margin: 0 auto;
    }
}