.cover__title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 72px;
    line-height: 76px;
    font-weight: 900;
    color: #ffffff;
    max-width: 560px;
    width: 100%;
}

@media (max-width: 767px) {
    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }
}