.footer__list {
    margin: 90px 0 24px;
    padding: 0;
    list-style: none;
    display: flex;
    width: 465px;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .footer__list {
        margin: 64px 0 24px;
        flex-direction: column;
        width: 288px;
        align-items: flex-start;
    }
}