.cover__text-wrapper {
    width: 560px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 560px) {
    .cover__text-wrapper {
        width: 288px;
    }
}