.footer {
    padding: 0;
    max-width: 1184px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 650px) {
    .footer {
        flex-direction: column;
        max-width: 288px;
    }
}