.intro__title {
    margin: 90px 0 0;
    padding: 0;
    max-width: 690px;
    font-size: 54px;
    line-height: 58px;
    font-weight: 900;
    color: #ffffff;
}

@media (max-width: 420px) {
    .intro__title {
        margin: 64px 0 0;
        font-size: 32px;
        line-height: 35px;
    }
}